/* Feuille de style */


  body
  {
    background: url('images/page_gradient.png') center no-repeat;
    background-color: #4f30a7 ;
      color:white;
  }

.logo
{
  
  width: 439px;
  align-items: center;

}